<!-- 
<h2 class="bg-info">{{title}}</h2> -->
<!-- <app-employee></app-employee> -->

<!-- <app-add-employee></app-add-employee> -->
 <!-- <app-student></app-student> -->
<!-- <app-data-binding></app-data-binding> -->
<!-- <contact-form></contact-form> -->
<!-- <app-user-form></app-user-form> -->
<!-- <app-add-employee [countFromParent]="count" 
(countFromChild)="getFromChild($event)"></app-add-employee>
<hr>
 <div class="container">
    count from child:{{count}}
</div> -->

<!--Employee Crud operation-->
<!-- <div class="navbar navbar-extend-md fixed-top fixed-header">
<div class="container">
    <nav>
        <a class="btn btn-primary mx-3 " [routerLink]="'/'">Home</a>
        <a class="btn btn-success " [routerLink]="'/add-employee'">Add Employee</a>
    </nav>
</div>
</div>
<div class="container pt-5"> 
    <router-outlet></router-outlet>
</div> -->
<!--Student crud operation-->
<div class="navbar navbar-extend-md fixed-top fixed-header">
<div class="container">
    <nav>
        <a class="btn btn-primary mx-3 " [routerLink]="'/'">Home</a>
        <a class="btn btn-success " [routerLink]="'/add-student'">Add Student</a>
    </nav>
</div>
</div>
<div class="container pt-5"> 
    <router-outlet></router-outlet>
</div>






